.testimonal-testimonal {
  position: relative;
}
.testimonal-text {
  line-height: 24px;
}
.testimonal-author {
  gap: var(--dl-space-space-unit);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.testimonal-user {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonal-name {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 600;
}
.testimonal-divider {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.testimonal-from {
  color: rgb(0, 0, 0);
}
@media(max-width: 767px) {
  .testimonal-text {
    font-size: 14px;
    line-height: 21px;
  }
  .testimonal-name {
    font-size: 14px;
  }
  .testimonal-from {
    font-size: 14px;
  }
}

.all-testimonals-all-testimonals {
  width: 100%;
  display: flex;
  position: relative;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.all-testimonals-left {
  width: 375px;
  display: flex;
  margin-top: 375px;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.all-testimonals-text {
  color: rgb(82, 40, 245);
  font-style: normal;
  font-weight: 600;
  margin-bottom: 24px;
}
.all-testimonals-text1 {
  text-align: left;
}
.all-testimonals-right {
  gap: 40px;
  display: flex;
  flex-direction: row;
}
.all-testimonals-column {
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.all-testimonals-column1 {
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.all-testimonals-text2 {
  cursor: pointer;
  display: none;
}

@media(max-width: 991px) {
  .all-testimonals-all-testimonals {
    align-items: center;
    flex-direction: column;
  }
  .all-testimonals-left {
    margin-top: 0px;
    align-items: center;
    margin-bottom: ThreeUnits;
  }
  .all-testimonals-text1 {
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .all-testimonals-right {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
  }
  .all-testimonals-column {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .all-testimonals-column1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .all-testimonals-all-testimonals {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: 0px;
  }
  .all-testimonals-right {
    width: 100%;
    flex-direction: column;
  }
  .all-testimonals-column1 {
    display: none;
  }
  .all-testimonals-text2 {
    display: flex;
    font-style: normal;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-weight: 600;
  }
}
@media(max-width: 479px) {
  .all-testimonals-all-testimonals {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
